# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
HOBBIES = 'CODING'
LANGUAGE = 'ENGLISH'
OWNER_SKILLS = 'JAVASCRIPT'
OWNER_STATUS = 'DEVELOPER'
OWNER_NAME = '*KAWIZY Tech™*'
TIME_ZONE = 'Asia/Karachi'
DATABASE_URL = 
REMOVEBG_KEY = 
PREFIX = '➵'
MODE = 'private'
statusview = 'true'
BOTNAME = 'MEGA-AI'
antidelete = 'true'
BOT_NUMBER= '22898751561'
OWNERS = '22898751561'
SESSION_ID = 
APP_URL =
